In [1]:
# Import libraries
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import os
import datetime

#mpl.rcParams['figure.figsize'] = (10,4)

In [2]:
# Import data file
column_names = ['event_timestamp','event_structure_version','event_type','game_clock','play_clock','stop_flag','tag_serial_number','player_id','X','Y','Z','distance','Vx','Vy','V','Ax','Ay','A','direction']
df = pd.read_csv('sample5s.csv',names=column_names)

In [3]:
# Explorary data analysis

In [4]:
df.head()

,event_timestamp,event_structure_version,event_type,game_clock,play_clock,stop_flag,tag_serial_number,player_id,X,Y,Z,distance,Vx,Vy,V,Ax,Ay,A,direction
0,1652558856725,4,player,NaN,NaN,1,20150,136529.0,33038,-17436,933.0,2.1850,-0.11,-0.02,0.21,-0.00,-0.00,0.00,-167.91
1,1652558857910,4,player,NaN,NaN,1,20285,136531.0,-4856,-9452,1693.0,2.3466,-0.66,-2.34,2.51,-0.00,0.00,0.01,-105.78
2,1652558857168,4,player,NaN,NaN,1,20195,136543.0,32901,17404,1232.0,3.2877,-0.20,0.18,0.29,-0.00,0.00,0.00,136.81
3,1652558859897,4,player,NaN,NaN,1,20262,138136.0,-27617,-6218,805.0,2.7404,0.08,-0.09,0.67,-0.01,-0.00,0.01,-49.18
4,1652558855809,4,player,NaN,NaN,1,20127,136514.0,-2204,2092,1739.0,2.4634,-4.79,2.31,5.43,0.00,0.01,0.01,154.26

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10583 entries, 0 to 10582
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   event_timestamp          10583 non-null  int64
 1   event_structure_version  10583 non-null  int64
 2   event_type               10583 non-null  object
 3   game_clock               0 non-null      float64
 4   play_clock               0 non-null      float64
 5   stop_flag                10583 non-null  int64
 6   tag_serial_number        10583 non-null  int64
 7   player_id                9983 non-null   float64
 8   X                        10583 non-null  int64
 9   Y                        10583 non-null  int64
 10  Z                        10583 non-null  float64
 11  distance                 10583 non-null  float64
 12  Vx                       10583 non-null  float64
 13  Vy                       10583 non-null  float64
 14  V                        10583 non-null  float64
 15  Ax                       10583 non-null  float64
 16  Ay                       10583 non-null  float64
 17  A                        10583 non-null  float64
 18  direction                7783 non-null   float64
dtypes: float64(12), int64(6), object(1)
memory usage: 1.5+ MB

In [6]:
player = df[df['event_type'] == 'player']
player.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7783 entries, 0 to 10581
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   event_timestamp          7783 non-null   int64
 1   event_structure_version  7783 non-null   int64
 2   event_type               7783 non-null   object
 3   game_clock               0 non-null      float64
 4   play_clock               0 non-null      float64
 5   stop_flag                7783 non-null   int64
 6   tag_serial_number        7783 non-null   int64
 7   player_id                7183 non-null   float64
 8   X                        7783 non-null   int64
 9   Y                        7783 non-null   int64
 10  Z                        7783 non-null   float64
 11  distance                 7783 non-null   float64
 12  Vx                       7783 non-null   float64
 13  Vy                       7783 non-null   float64
 14  V                        7783 non-null   float64
 15  Ax                       7783 non-null   float64
 16  Ay                       7783 non-null   float64
 17  A                        7783 non-null   float64
 18  direction                7783 non-null   float64
dtypes: float64(12), int64(6), object(1)
memory usage: 1.2+ MB

In [7]:
player = player[['event_timestamp','tag_serial_number','player_id','X','Y']]
player.head()

   event_timestamp  tag_serial_number  player_id      X      Y
0    1652558856725              20150   136529.0  33038 -17436
1    1652558857910              20285   136531.0  -4856  -9452
2    1652558857168              20195   136543.0  32901  17404
3    1652558859897              20262   138136.0 -27617  -6218
4    1652558855809              20127   136514.0  -2204   2092

In [8]:
ball = df[df['event_type'] == 'ball']
ball.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2800 entries, 5 to 10582
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   event_timestamp          2800 non-null   int64
 1   event_structure_version  2800 non-null   int64
 2   event_type               2800 non-null   object
 3   game_clock               0 non-null      float64
 4   play_clock               0 non-null      float64
 5   stop_flag                2800 non-null   int64
 6   tag_serial_number        2800 non-null   int64
 7   player_id                2800 non-null   float64
 8   X                        2800 non-null   int64
 9   Y                        2800 non-null   int64
 10  Z                        2800 non-null   float64
 11  distance                 2800 non-null   float64
 12  Vx                       2800 non-null   float64
 13  Vy                       2800 non-null   float64
 14  V                        2800 non-null   float64
 15  Ax                       2800 non-null   float64
 16  Ay                       2800 non-null   float64
 17  A                        2800 non-null   float64
 18  direction                0 non-null      float64
dtypes: float64(12), int64(6), object(1)
memory usage: 437.5+ KB

In [9]:
ball_columns_name = ['event_timestamp','event_structure_version','event_type','game_clock','play_clock','stop_flag','tag_serial_number','X','Y','Z','distance','Vx','Vy','V','Ax','Ay','A','direction']
ball = ball.drop(ball.columns[-1],axis=1)

In [10]:
ball = ball.set_axis(ball_columns_name,axis=1)

In [11]:
ball = ball[['event_timestamp','tag_serial_number','X','Y']]
ball['player_id'] = 0
ball.head()

    event_timestamp  tag_serial_number        X      Y  player_id
5     1652558859721         2147582624 -26243.0 -14777          0
9     1652558859654         2147578827 -27035.0   3368          0
10    1652558856653         2147585778 -26260.0 -14604          0
18    1652558855704         2147567164  26456.0  -4011          0
19    1652558855080         2147567164  26429.0  -3935          0

In [12]:
ball = ball[['event_timestamp','tag_serial_number', 'player_id', 'X', 'Y']]
ball

       event_timestamp  tag_serial_number  player_id        X      Y
5        1652558859721         2147582624          0 -26243.0 -14777
9        1652558859654         2147578827          0 -27035.0   3368
10       1652558856653         2147585778          0 -26260.0 -14604
18       1652558855704         2147567164          0  26456.0  -4011
19       1652558855080         2147567164          0  26429.0  -3935
...                ...                ...        ...      ...    ...
10559    1652558859855         2147577865          0 -32853.0  24811
10570    1652558856929         2147567164          0  26423.0  -3868
10574    1652558857880         2147586306          0 -32622.0  24808
10578    1652558858055         2147586306          0 -32617.0  24805
10582    1652558857746         2147586707          0  25743.0  -6603

[2800 rows x 5 columns]

In [13]:
new_df = pd.concat([player,ball],axis=0)
new_df

       event_timestamp  tag_serial_number  player_id        X      Y
0        1652558856725              20150   136529.0  33038.0 -17436
1        1652558857910              20285   136531.0  -4856.0  -9452
2        1652558857168              20195   136543.0  32901.0  17404
3        1652558859897              20262   138136.0 -27617.0  -6218
4        1652558855809              20127   136514.0  -2204.0   2092
...                ...                ...        ...      ...    ...
10559    1652558859855         2147577865        0.0 -32853.0  24811
10570    1652558856929         2147567164        0.0  26423.0  -3868
10574    1652558857880         2147586306        0.0 -32622.0  24808
10578    1652558858055         2147586306        0.0 -32617.0  24805
10582    1652558857746         2147586707        0.0  25743.0  -6603

[10583 rows x 5 columns]

In [14]:
new_df['timestamp_resample'] = new_df.iloc[:,0]//50*50
new_df['datetime'] = pd.to_datetime(new_df['event_timestamp'],utc=True,unit='ms',origin='unix')
new_df['datetime_resample'] = pd.to_datetime(new_df['timestamp_resample'],utc=True,unit='ms',origin='unix')
new_df

,event_timestamp,tag_serial_number,player_id,X,Y,timestamp_resample,datetime,datetime_resample
0,1652558856725,20150,136529.0,33038.0,-17436,1652558856700,2022-05-14 20:07:36.725000+00:00,2022-05-14 20:07:36.700000+00:00
1,1652558857910,20285,136531.0,-4856.0,-9452,1652558857900,2022-05-14 20:07:37.910000+00:00,2022-05-14 20:07:37.900000+00:00
2,1652558857168,20195,136543.0,32901.0,17404,1652558857150,2022-05-14 20:07:37.168000+00:00,2022-05-14 20:07:37.150000+00:00
3,1652558859897,20262,138136.0,-27617.0,-6218,1652558859850,2022-05-14 20:07:39.897000+00:00,2022-05-14 20:07:39.850000+00:00
4,1652558855809,20127,136514.0,-2204.0,2092,1652558855800,2022-05-14 20:07:35.809000+00:00,2022-05-14 20:07:35.800000+00:00
...,...,...,...,...,...,...,...,...
10559,1652558859855,2147577865,0.0,-32853.0,24811,1652558859850,2022-05-14 20:07:39.855000+00:00,2022-05-14 20:07:39.850000+00:00
10570,1652558856929,2147567164,0.0,26423.0,-3868,1652558856900,2022-05-14 20:07:36.929000+00:00,2022-05-14 20:07:36.900000+00:00
10574,1652558857880,2147586306,0.0,-32622.0,24808,1652558857850,2022-05-14 20:07:37.880000+00:00,2022-05-14 20:07:37.850000+00:00
10578,1652558858055,2147586306,0.0,-32617.0,24805,1652558858050,2022-05-14 20:07:38.055000+00:00,2022-05-14 20:07:38.050000+00:00
10582,1652558857746,2147586707,0.0,25743.0,-6603,1652558857700,2022-05-14 20:07:37.746000+00:00,2022-05-14 20:07:37.700000+00:00

In [15]:
new_df.describe()
#

,event_timestamp,tag_serial_number,player_id,X,Y,timestamp_resample
count,1.058300e+04,1.058300e+04,9983.000000,10583.00000,10583.000000,1.058300e+04
mean,1.652559e+12,5.682118e+08,98384.416708,-4619.11698,-1601.320798,1.652559e+12
std,1.445656e+03,9.473486e+08,61430.291956,25866.81770,11699.309514,1.445790e+03
min,1.652559e+12,2.003300e+04,0.000000,-35102.00000,-20425.000000,1.652559e+12
25%,1.652559e+12,2.018800e+04,0.000000,-27666.00000,-10110.000000,1.652559e+12
50%,1.652559e+12,2.028100e+04,136535.000000,-8104.00000,-3563.000000,1.652559e+12
75%,1.652559e+12,2.147567e+09,136575.000000,26316.00000,4177.500000,1.652559e+12
max,1.652559e+12,2.147587e+09,138138.000000,35684.00000,30603.000000,1.652559e+12

In [16]:
new_df.isnull().sum()
# 600 data missing for player_id

event_timestamp         0
tag_serial_number       0
player_id             600
X                       0
Y                       0
timestamp_resample      0
datetime                0
datetime_resample       0
dtype: int64

In [17]:
x_ave = new_df.groupby(['tag_serial_number','timestamp_resample']).mean()['X']
y_ave = new_df.groupby(['tag_serial_number','timestamp_resample']).mean()['Y']

C:\Users\Xiaoyi Chen\AppData\Local\Temp\ipykernel_13216\2535804439.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  x_ave = new_df.groupby(['tag_serial_number','timestamp_resample']).mean()['X']
C:\Users\Xiaoyi Chen\AppData\Local\Temp\ipykernel_13216\2535804439.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y_ave = new_df.groupby(['tag_serial_number','timestamp_resample']).mean()['Y']

In [18]:
new_df['X_ave'] = new_df.apply(lambda x:x_ave[x['tag_serial_number'],x['timestamp_resample']],axis=1)
new_df['Y_ave'] = new_df.apply(lambda x:y_ave[x['tag_serial_number'],x['timestamp_resample']],axis=1)
new_df

,event_timestamp,tag_serial_number,player_id,X,Y,timestamp_resample,datetime,datetime_resample,X_ave,Y_ave
0,1652558856725,20150,136529.0,33038.0,-17436,1652558856700,2022-05-14 20:07:36.725000+00:00,2022-05-14 20:07:36.700000+00:00,33038.0,-17436.0
1,1652558857910,20285,136531.0,-4856.0,-9452,1652558857900,2022-05-14 20:07:37.910000+00:00,2022-05-14 20:07:37.900000+00:00,-4856.0,-9452.0
2,1652558857168,20195,136543.0,32901.0,17404,1652558857150,2022-05-14 20:07:37.168000+00:00,2022-05-14 20:07:37.150000+00:00,32901.0,17404.0
3,1652558859897,20262,138136.0,-27617.0,-6218,1652558859850,2022-05-14 20:07:39.897000+00:00,2022-05-14 20:07:39.850000+00:00,-27617.0,-6218.0
4,1652558855809,20127,136514.0,-2204.0,2092,1652558855800,2022-05-14 20:07:35.809000+00:00,2022-05-14 20:07:35.800000+00:00,-2204.0,2092.0
...,...,...,...,...,...,...,...,...,...,...
10559,1652558859855,2147577865,0.0,-32853.0,24811,1652558859850,2022-05-14 20:07:39.855000+00:00,2022-05-14 20:07:39.850000+00:00,-32853.5,24811.5
10570,1652558856929,2147567164,0.0,26423.0,-3868,1652558856900,2022-05-14 20:07:36.929000+00:00,2022-05-14 20:07:36.900000+00:00,26418.5,-3871.0
10574,1652558857880,2147586306,0.0,-32622.0,24808,1652558857850,2022-05-14 20:07:37.880000+00:00,2022-05-14 20:07:37.850000+00:00,-32619.5,24810.0
10578,1652558858055,2147586306,0.0,-32617.0,24805,1652558858050,2022-05-14 20:07:38.055000+00:00,2022-05-14 20:07:38.050000+00:00,-32615.5,24813.0
10582,1652558857746,2147586707,0.0,25743.0,-6603,1652558857700,2022-05-14 20:07:37.746000+00:00,2022-05-14 20:07:37.700000+00:00,25745.5,-6615.5

In [19]:
new_df = new_df.dropna()

In [20]:
new_df.sort_values('timestamp_resample')

,event_timestamp,tag_serial_number,player_id,X,Y,timestamp_resample,datetime,datetime_resample,X_ave,Y_ave
6444,1652558855049,2147585872,0.0,-26938.0,4291,1652558855000,2022-05-14 20:07:35.049000+00:00,2022-05-14 20:07:35+00:00,-26925.5,4298.0
1741,1652558855022,20175,136581.0,-3656.0,-2265,1652558855000,2022-05-14 20:07:35.022000+00:00,2022-05-14 20:07:35+00:00,-3656.0,-2265.0
3159,1652558855005,2147586306,0.0,-32616.0,24781,1652558855000,2022-05-14 20:07:35.005000+00:00,2022-05-14 20:07:35+00:00,-32617.5,24784.0
8692,1652558855008,20033,136526.0,-7539.0,3092,1652558855000,2022-05-14 20:07:35.008000+00:00,2022-05-14 20:07:35+00:00,-7539.0,3092.0
7367,1652558855044,20207,136592.0,-33578.0,-19106,1652558855000,2022-05-14 20:07:35.044000+00:00,2022-05-14 20:07:35+00:00,-33578.0,-19106.0
...,...,...,...,...,...,...,...,...,...,...
1544,1652558859995,20349,136590.0,-33411.0,-18400,1652558859950,2022-05-14 20:07:39.995000+00:00,2022-05-14 20:07:39.950000+00:00,-33411.0,-18400.0
1550,1652558859998,20336,136562.0,-32851.0,-7902,1652558859950,2022-05-14 20:07:39.998000+00:00,2022-05-14 20:07:39.950000+00:00,-32851.0,-7902.0
3547,1652558859972,20175,136581.0,-7064.0,-6455,1652558859950,2022-05-14 20:07:39.972000+00:00,2022-05-14 20:07:39.950000+00:00,-7064.0,-6455.0
2200,1652558859956,20264,136524.0,33244.0,9116,1652558859950,2022-05-14 20:07:39.956000+00:00,2022-05-14 20:07:39.950000+00:00,33244.0,9116.0
707,1652558859986,20213,136507.0,32967.0,-12608,1652558859950,2022-05-14 20:07:39.986000+00:00,2022-05-14 20:07:39.950000+00:00,32967.0,-12608.0

In [21]:
x_top = 24231.6
x_bot = -24231.6
y_r = 54864.0
y_l = -54864.0
temp = new_df[(new_df['X_ave'] <= x_top) & (new_df['X_ave'] >= x_bot) & (new_df['Y_ave'] <= y_r) & (new_df['Y_ave'] >= y_l)]
temp

,event_timestamp,tag_serial_number,player_id,X,Y,timestamp_resample,datetime,datetime_resample,X_ave,Y_ave
1,1652558857910,20285,136531.0,-4856.0,-9452,1652558857900,2022-05-14 20:07:37.910000+00:00,2022-05-14 20:07:37.900000+00:00,-4856.0,-9452.0
4,1652558855809,20127,136514.0,-2204.0,2092,1652558855800,2022-05-14 20:07:35.809000+00:00,2022-05-14 20:07:35.800000+00:00,-2204.0,2092.0
7,1652558858395,20334,136586.0,-15350.0,1492,1652558858350,2022-05-14 20:07:38.395000+00:00,2022-05-14 20:07:38.350000+00:00,-15350.0,1492.0
29,1652558856376,20297,136583.0,-67.0,-4808,1652558856350,2022-05-14 20:07:36.376000+00:00,2022-05-14 20:07:36.350000+00:00,-67.0,-4808.0
34,1652558858673,20219,136560.0,20536.0,13121,1652558858650,2022-05-14 20:07:38.673000+00:00,2022-05-14 20:07:38.650000+00:00,20536.0,13121.0
...,...,...,...,...,...,...,...,...,...,...
10240,1652558856576,2147581022,0.0,-4201.0,-8572,1652558856550,2022-05-14 20:07:36.576000+00:00,2022-05-14 20:07:36.550000+00:00,-4191.5,-8580.5
10354,1652558855576,2147581022,0.0,-2748.0,-7367,1652558855550,2022-05-14 20:07:35.576000+00:00,2022-05-14 20:07:35.550000+00:00,-2730.5,-7366.0
10408,1652558855401,2147581022,0.0,-2694.0,-6545,1652558855400,2022-05-14 20:07:35.401000+00:00,2022-05-14 20:07:35.400000+00:00,-2698.5,-6661.5
10464,1652558856302,2147581022,0.0,-3843.0,-8342,1652558856300,2022-05-14 20:07:36.302000+00:00,2022-05-14 20:07:36.300000+00:00,-3882.5,-8348.5
10539,1652558859751,2147581022,0.0,-13912.0,1018,1652558859750,2022-05-14 20:07:39.751000+00:00,2022-05-14 20:07:39.750000+00:00,-13966.5,1084.0

In [22]:
df_image = temp
os.makedirs('./images', exist_ok=True)

In [23]:
df_image.groupby('datetime_resample')

In [24]:
unique_timestamp = df_image.sort_values('timestamp_resample')['datetime_resample'].unique()
#unique_timestamp.strftime('%Y-%m-%d %H:%M:%S.%f')[:-4]
unique_timestamp

<DatetimeArray>
[       '2022-05-14 20:07:35+00:00', '2022-05-14 20:07:35.050000+00:00',
 '2022-05-14 20:07:35.100000+00:00', '2022-05-14 20:07:35.150000+00:00',
 '2022-05-14 20:07:35.200000+00:00', '2022-05-14 20:07:35.250000+00:00',
 '2022-05-14 20:07:35.300000+00:00', '2022-05-14 20:07:35.350000+00:00',
 '2022-05-14 20:07:35.400000+00:00', '2022-05-14 20:07:35.450000+00:00',
 '2022-05-14 20:07:35.500000+00:00', '2022-05-14 20:07:35.550000+00:00',
 '2022-05-14 20:07:35.600000+00:00', '2022-05-14 20:07:35.650000+00:00',
 '2022-05-14 20:07:35.700000+00:00', '2022-05-14 20:07:35.750000+00:00',
 '2022-05-14 20:07:35.800000+00:00', '2022-05-14 20:07:35.850000+00:00',
 '2022-05-14 20:07:35.900000+00:00', '2022-05-14 20:07:35.950000+00:00',
        '2022-05-14 20:07:36+00:00', '2022-05-14 20:07:36.050000+00:00',
 '2022-05-14 20:07:36.100000+00:00', '2022-05-14 20:07:36.150000+00:00',
 '2022-05-14 20:07:36.200000+00:00', '2022-05-14 20:07:36.250000+00:00',
 '2022-05-14 20:07:36.300000+00:00', '2022-05-14 20:07:36.350000+00:00',
 '2022-05-14 20:07:36.400000+00:00', '2022-05-14 20:07:36.450000+00:00',
 '2022-05-14 20:07:36.500000+00:00', '2022-05-14 20:07:36.550000+00:00',
 '2022-05-14 20:07:36.600000+00:00', '2022-05-14 20:07:36.650000+00:00',
 '2022-05-14 20:07:36.700000+00:00', '2022-05-14 20:07:36.750000+00:00',
 '2022-05-14 20:07:36.800000+00:00', '2022-05-14 20:07:36.850000+00:00',
 '2022-05-14 20:07:36.900000+00:00', '2022-05-14 20:07:36.950000+00:00',
        '2022-05-14 20:07:37+00:00', '2022-05-14 20:07:37.050000+00:00',
 '2022-05-14 20:07:37.100000+00:00', '2022-05-14 20:07:37.150000+00:00',
 '2022-05-14 20:07:37.200000+00:00', '2022-05-14 20:07:37.250000+00:00',
 '2022-05-14 20:07:37.300000+00:00', '2022-05-14 20:07:37.350000+00:00',
 '2022-05-14 20:07:37.400000+00:00', '2022-05-14 20:07:37.450000+00:00',
 '2022-05-14 20:07:37.500000+00:00', '2022-05-14 20:07:37.550000+00:00',
 '2022-05-14 20:07:37.600000+00:00', '2022-05-14 20:07:37.650000+00:00',
 '2022-05-14 20:07:37.700000+00:00', '2022-05-14 20:07:37.750000+00:00',
 '2022-05-14 20:07:37.800000+00:00', '2022-05-14 20:07:37.850000+00:00',
 '2022-05-14 20:07:37.900000+00:00', '2022-05-14 20:07:37.950000+00:00',
        '2022-05-14 20:07:38+00:00', '2022-05-14 20:07:38.050000+00:00',
 '2022-05-14 20:07:38.100000+00:00', '2022-05-14 20:07:38.150000+00:00',
 '2022-05-14 20:07:38.200000+00:00', '2022-05-14 20:07:38.250000+00:00',
 '2022-05-14 20:07:38.300000+00:00', '2022-05-14 20:07:38.350000+00:00',
 '2022-05-14 20:07:38.400000+00:00', '2022-05-14 20:07:38.450000+00:00',
 '2022-05-14 20:07:38.500000+00:00', '2022-05-14 20:07:38.550000+00:00',
 '2022-05-14 20:07:38.600000+00:00', '2022-05-14 20:07:38.650000+00:00',
 '2022-05-14 20:07:38.700000+00:00', '2022-05-14 20:07:38.750000+00:00',
 '2022-05-14 20:07:38.800000+00:00', '2022-05-14 20:07:38.850000+00:00',
 '2022-05-14 20:07:38.900000+00:00', '2022-05-14 20:07:38.950000+00:00',
        '2022-05-14 20:07:39+00:00', '2022-05-14 20:07:39.050000+00:00',
 '2022-05-14 20:07:39.100000+00:00', '2022-05-14 20:07:39.150000+00:00',
 '2022-05-14 20:07:39.200000+00:00', '2022-05-14 20:07:39.250000+00:00',
 '2022-05-14 20:07:39.300000+00:00', '2022-05-14 20:07:39.350000+00:00',
 '2022-05-14 20:07:39.400000+00:00', '2022-05-14 20:07:39.450000+00:00',
 '2022-05-14 20:07:39.500000+00:00', '2022-05-14 20:07:39.550000+00:00',
 '2022-05-14 20:07:39.600000+00:00', '2022-05-14 20:07:39.650000+00:00',
 '2022-05-14 20:07:39.700000+00:00', '2022-05-14 20:07:39.750000+00:00',
 '2022-05-14 20:07:39.800000+00:00', '2022-05-14 20:07:39.850000+00:00',
 '2022-05-14 20:07:39.900000+00:00', '2022-05-14 20:07:39.950000+00:00']
Length: 100, dtype: datetime64[ns, UTC]

In [42]:
plt.rcParams.update({'font.size': 30})

In [47]:
for i in range(len(unique_timestamp)):
    plt.figure(figsize = (19.2,10.8))
    tf = df_image[df_image['datetime_resample'] == unique_timestamp[i]]
    plt.scatter(tf[tf['player_id'] != 0]['Y_ave'],tf[tf['player_id'] != 0]['X_ave'], color='b', marker='o', s = 100)
    plt.scatter(tf[tf['player_id'] == 0]['Y_ave'],tf[tf['player_id'] == 0]['X_ave'], color ='r', marker='o',  s = 100)
    plt.xticks(np.arange(-60000, 60000+20000,step=20000))
    plt.yticks(np.arange(-40000, 30000+10000,step=10000))
    name = tf['datetime'].iloc[0].strftime('%Y-%m-%d %H:%M:%S.%f')[:-4]
    plt.title('UTC ' + name)
    plt.savefig('./images/' + str(i) + '.png')
    plt.clf()

C:\Users\Xiaoyi Chen\AppData\Local\Temp\ipykernel_13216\3871388852.py:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  plt.figure(figsize = (19.2,10.8))

In [48]:
import cv2

In [49]:
video_name = 'usfl_game.avi'

In [50]:
images = ['./images/' + str(i) + '.png' for i in range(len(unique_timestamp))]
frame = cv2.imread(images[0])
height, width, layers = frame.shape
video = cv2.VideoWriter(video_name, 0, 20, (width,height))
for image in images:
    video.write(cv2.imread(image))
cv2.destroyAllWindows()
video.release()